In [4]:
#import the pandas library
import pandas as pd
import numpy as np
#creating DataFrame
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("Original DataFrame with NaN\n",df)
print("Dropped Data Frame\n",df.dropna())
print("\n")
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("original DataFrame:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))
df=pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})
print("\n Original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({1000:10,2000:60,40:400,0:100}))
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("Original DataFrame:\n",df)
print("\n NaN-with True fill:\n")
print(df['one'].isnull())
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("\n Original DataFrame:\n",df)
print("\n NaN-Filled with Forward values:\n")
print(df.fillna(method='pad'))
print("NaN-Filled with Background values:\n")
print(df.fillna(method='bfill'))

Original DataFrame with NaN
         one       two     three
a -0.001841  0.592718 -1.936663
b       NaN       NaN       NaN
c  0.763826  1.471222 -1.621051
d       NaN       NaN       NaN
e  1.851999  0.738539  2.457795
f  1.572368  1.279265  0.310745
g       NaN       NaN       NaN
h -0.075046 -0.389741 -1.168198
Dropped Data Frame
         one       two     three
a -0.001841  0.592718 -1.936663
c  0.763826  1.471222 -1.621051
e  1.851999  0.738539  2.457795
f  1.572368  1.279265  0.310745
h -0.075046 -0.389741 -1.168198


original DataFrame:
         one       two     three
a  0.987086  1.127264 -1.616708
b       NaN       NaN       NaN
c  3.041402  2.135418 -0.861039


NaN replaced with '0':

        one       two     three
a  0.987086  1.127264 -1.616708
b  0.000000  0.000000  0.000000
c  3.041402  2.135418 -0.861039

 Original DataFrame:
     one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

 DataFrame with replaced values:

   one  two
0   10   10
1   20  100
2   30   30
3  400  400
4   50   50
5   60   60
Original DataFrame:
         one       two     three
a  0.208776  0.391114 -0.338182
b       NaN       NaN       NaN
c  0.393227 -0.081914  0.158640
d       NaN       NaN       NaN
e -1.431462 -0.192219 -0.114849
f  0.214251  0.119772  0.033619
g       NaN       NaN       NaN
h  0.395450  0.960253 -1.594866

 NaN-with True fill:

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

 Original DataFrame:
         one       two     three
a -0.247497  0.384720  0.022409
b       NaN       NaN       NaN
c  0.751437 -1.281332  1.124328
d       NaN       NaN       NaN
e -0.646476  0.116629  2.498753
f -0.928438 -2.352428  2.295232
g       NaN       NaN       NaN
h  0.520947  0.606041  0.524342

 NaN-Filled with Forward values:

        one       two     three
a -0.247497  0.384720  0.022409
b -0.247497  0.384720  0.022409
c  0.751437 -1.281332  1.124328
d  0.751437 -1.281332  1.124328
e -0.646476  0.116629  2.498753
f -0.928438 -2.352428  2.295232
g -0.928438 -2.352428  2.295232
h  0.520947  0.606041  0.524342
NaN-Filled with Background values:

        one       two     three
a -0.247497  0.384720  0.022409
b  0.751437 -1.281332  1.124328
c  0.751437 -1.281332  1.124328
d -0.646476  0.116629  2.498753
e -0.646476  0.116629  2.498753
f -0.928438 -2.352428  2.295232
g  0.520947  0.606041  0.524342
h  0.520947  0.606041  0.524342